<div
  class="min-h-screen bg-gradient-to-br from-zinc-200 via-zinc-200 to-zinc-200"
>
  <!-- Header -->
  <app-header
    [notificationCount]="notificationCount"
  >
  </app-header>

  <!--Content -->
  <div class="pt-16 flex size-full">
    <!-- Sidebar -->
    <app-sidebar (sidebarToggled)="onSidebarToggle($event)"> </app-sidebar>

    <!-- Main -->
    <main
      class="flex-1 overflow-hidden transition-all duration-300 ease-in-out relative"
    >

      <!-- Router -->
      <div
        class="bg-zinc-200 backdrop-blur-sm p-4 shadow-xl border border-slate-200/60 h-[calc(100vh-4rem)] overflow-hidden"
      >
        <div
          class="h-full w-full backdrop-blur-md bg-zinc-200"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
</div>
