<div
  class="h-full w-full gap-2 bg-gradient-to-b from-blue-50/70 to-slate-50/50 p-0 rounded-sm flex flex-col"
>
      <!-- Formulário de Cadastro -->
      <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold text-slate-700">Cadastrar Novo Elemento</h2>

        <div class="flex items-end justify-items-end mt-6 gap-4">
          <div class="flex-2">
            <label for="elementName" class="block text-sm font-medium text-gray-700 mb-1">Nome do Elemento</label>
            <input
              type="text"
              id="elementName"
              name="elementName"
              [(ngModel)]="elemento().elementName"
              class="w-full p-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Ex: Carbono"
            />
          </div>
          <div class="flex-1">
            <label for="elementSimbol" class="block text-sm font-medium text-gray-700 mb-1">Símbolo do Elemento</label>
            <input
              type="text"
              id="elementSimbol"
              name="elementSimbol"
              maxlength="8"
              [(ngModel)]="elemento().simbolo"
              class="w-full p-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Ex: H, He, Li"
            />
          </div>


              <button
              (click)="calcelarEdicao()"
              [hidden]="!edicao()"
              class=" bg-orange-400 hover:bg-orange-500 text-white px-4 py-2 rounded-md flex items-center transition-colors duration-200"
            >
              <ng-icon name="heroXMark"  size="19" />
              Cancelar
            </button>

            <button
              (click)="adicionarElemento()"
              class=" bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-md flex items-center transition-colors duration-200"
              [disabled]="(!elemento().elementName || !elemento().simbolo)"
              [ngClass]="{'opacity-50 cursor-not-allowed': (!elemento().elementName || !elemento().simbolo)}"
            >
              <ng-icon [name]="edicao() ? 'heroCheck':'heroPlus'"  size="19" />
              {{ edicao() ? 'Alterar' :'Adicionar'}}
            </button>

        </div>
      </div>

      <!-- Tabela de Elementos -->
      <div class="flex-1 min-h-0 flex flex-col bg-white rounded-lg shadow-md">
        <div class="p-4 border-b border-gray-200">
          <div class="flex justify-between items-center">
            <h2 class="text-lg font-semibold text-slate-700">Elementos Cadastrados</h2>
            <div class="relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <ng-icon name="heroMagnifyingGlass" size="19" />
              </div>
              <input
                [(ngModel)]="searchTerm"
                (keyup)="filtrarElementos()"
                type="text"
                name="search"
                id="search"
                class="block w-full pl-10 p-2 rounded-sm border border-slate-200 focus:outline-none focus:ring-2 focus:ring-indigo-500/20 focus:border-indigo-400 text-slate-700 transition-all duration-200"
                placeholder="Pesquisar elemento"
              />
            </div>
          </div>
        </div>
        <div class="overflow-x-auto rounded-t-sm">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="table-thead">
              <tr>
                <th scope="col" class="table-th-tx-xs uppercase tracking-wider">ID</th>
                <th scope="col" class="table-th-tx-xs uppercase tracking-wider">Elemento</th>
                <th scope="col" class="table-th-tx-xs uppercase tracking-wider">Símbolo</th>
                <th scope="col" class="table-th-tx-xs uppercase tracking-wider">Ações</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            @for(elemento of elementosFiltrados(); track elemento.id){<tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" [title]="elemento.id">
            {{ elemento.id}}
                </td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{elemento.elementName}}
              </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="inline-flex items-center justify-center size-12 rounded-lg bg-indigo-600 text-white font-bold text-md">
            {{ elemento.simbolo }}
            </div>
                </td>
          <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
             <button
                        (click)="editarElemento(elemento)"
                        class="text-indigo-600 hover:text-indigo-900 transition-colors duration-200 mr-4"
                        title="Editar"
                      >
                        <ng-icon name="heroPencilSquare"  size="19" />
                      </button>
                      <button
                        (click)="removerElemento(elemento.id!,elemento.elementName)"
                        class="text-red-600 hover:text-red-900 transition-colors duration-200"
                        title="Excluir"
                      >
                        <ng-icon name="heroTrash" size="19"/>
                      </button>

          </td>
        </tr>}
            @if(elementosFiltrados().length === 0){<tr>
                <td colspan="3" class="px-6 py-4 text-center text-sm text-gray-500">
                  Nenhum elemento encontrado.
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>
        <div class="px-6 py-4 bg-gray-50 border-t border-gray-200">
          <div class="text-sm text-gray-700">
            Total de elementos: <span class="font-medium">{{ elementos().length}}</span>
          </div>
        </div>
      </div>
    </div>
